* {
  box-sizing: border-box;
  margin: 0;
}

.flex-v-h-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-v-center {
  align-items: center;
}

.flex-h-center {
  justify-content: center;
}

.margin-center {
  margin: 0 auto;
}
