@import 'src/styles/common.scss';

.middle-center-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.login-panel {
  margin: 0 auto;
  width: auto;
  max-width: 90vw;
  max-height: 90vh;
}

mat-card-header {
  margin-bottom: 20px;
}

mat-card-content {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

mat-form-field {
  width: 100%;
  margin: 0 16px;
}

mat-card-actions {
  padding: 0;
}
